@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
  font-family: poppins;
}


.grid-main {
  margin-top:2rem;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.grid-child {
  margin-bottom:2rem; 
  width: 20vw;
  height: inherit;
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding:1rem;

}

.grid-child:hover{
  transform: scale(1.1)
}

img {
  width: 100%;
}

.news-title {
  font-size: 14px;
  font-weight: 600;
}

.news-content {
  font-size: 13px;
}

.news-author{
  font-size:10px;
  
 
}

.news-date{
  font-size:10px;

  
}

.name-date{
  display: flex;
  justify-content: space-between;
  font-weight:600;
}

